<header class="main-header" >
<nav class="main-header-nav" >
    <ul class="main-header-item-list">
        <li class="main-header-item"><a href="/"  class=<%=path==="/"?"active":""%> >Shop</a></li>
        <li class="main-header-item"><a href="/product-list"  class=<%=path==="/products"?"active":""%> >Product List</a></li>
        <li class="main-header-item"><a href="/cart"  class=<%=path==="/cart"?"active":""%> >Cart</a></li>
        <li class="main-header-item"><a href="/admin/add-product" class=<%=path==="/admin/add-product"?"active":""%> >Add Product</a></li>
        <li class="main-header-item"><a href="/admin/product-list" class=<%=path==="/admin/products"?"active":""%> >Admin Products List</a></li>
        <li class="main-header-item"><a href="/orders" class=<%=path==="/orders"?"active":""%> >Orders</a></li>
    </ul>
</nav>
</header>