<%-include('../include/head.ejs')%>

<body>
    <%-include('../include/navigation.ejs')%>

    <main>
        <div class="container mt-5">
            <div class="row">
            <div class="card-deck text-center ">
            <% if (prods.length > 0) { %>
                <% prods.map((product)=>{%>
                <div class="card" style="width: 18rem;">
                <img src="<%=product.imgUrl%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 class="card-title text-center text-info"><%=product.title%></h1>
                  <p class="card-text"><%=product.description%></p>
                  <h3 class="text-center">$<%=product.price%></h3>
                    <a href="/product/<%=product.id%>" class="btn btn-success"  >Details</a>

                  <form class="mt-4" method="POST" action="/add-to-cart" >
                    <button class="btn btn-warning" type="submit" >Add To Cart</button>
                    <input type="hidden" name="id" value="<%=product.id%>">
                    <input type="hidden" name="productPrice" value="<%=product.price%>">
                </form>
                </div>
              </div>

                <%})%>
            <%} else {%>
                <h2>There is no product</h2>
            <%}%>
            </div>
            </div>
        </div>
    </main>
</body>
</html>